# Created by .ignore support plugin (hsz.mobi)
/vendor/
/files/
/tools/modelbuilder.ini
/update-composer.cmd
/tests/lib/db/
!/tests/lib/db/CustomerRepository.php
/tests/lib/model/
!/tests/lib/model/Customer.php
/tests/files/tmp/
!/tests/lib/bookstore/
